<div class="content-body" style="min-height: 818px">
  <div class="container-fluid">
    <div class="row page-titles">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"></li>
        <li>
          <a>Profile</a>
        </li>
      </ol>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="profile card card-body px-3 pt-3 pb-0">
          <div class="profile-head">
            <div class="photo-content">
              <div class="cover-photo rounded"></div>
            </div>
            <div class="profile-info">
              <div class="profile-photo">
                <img
                  src="assets/images/profile/profile.png"
                  class="img-fluid rounded-circle"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-body">
              <div class="profile-statistics">
                <div class="text-center">
                  <div class="row"></div>
                  <div class="mt-4">
                    <a
                      href="javascript:void(0);"
                      class="btn btn-primary mb-1"
                      data-bs-toggle="modal"
                      data-bs-target="#sendMessageModal"
                      >Send Message</a
                    >
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="sendMessageModal">
                  <div
                    class="modal-dialog modal-dialog-centered"
                    role="document"
                  >
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Send Message</h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <form class="comment-form">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="mb-3">
                                <label class="text-black font-w600 form-label"
                                  >Name <span class="required">*</span></label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  value="Author"
                                  name="Author"
                                  placeholder="Author"
                                />
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="mb-3">
                                <label class="text-black font-w600 form-label"
                                  >Email <span class="required">*</span></label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  value="Email"
                                  placeholder="Email"
                                  name="Email"
                                />
                              </div>
                            </div>
                            <div class="col-lg-12">
                              <div class="mb-3">
                                <label class="text-black font-w600 form-label"
                                  >Comment</label
                                >
                                <textarea
                                  rows="8"
                                  class="form-control"
                                  name="comment"
                                  placeholder="Comment"
                                ></textarea>
                              </div>
                            </div>
                            <div class="col-lg-12">
                              <div class="mb-3 mb-0">
                                <input
                                  type="submit"
                                  value="Post Comment"
                                  class="submit btn btn-primary"
                                  name="submit"
                                />
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="card">
        <div class="card-body">
          <div class="profile-tab">
            <div class="custom-tab-1">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a href="#about-me" data-bs-toggle="tab" class="nav-link"
                    >About Me</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    href="#profile-settings"
                    data-bs-toggle="tab"
                    class="nav-link active"
                    >Setting</a
                  >
                </li>
              </ul>
              <div class="tab-content">
                <div id="my-posts" class="tab-pane fade">
                  <div class="my-post-content pt-3">
                    <div class="post-input">
                      <textarea
                        name="textarea"
                        id="textarea"
                        cols="30"
                        rows="5"
                        class="form-control bg-transparent"
                        placeholder="Please type what you want...."
                      ></textarea>
                      <a
                        href="javascript:void(0);"
                        class="btn btn-primary light me-1 px-3"
                        data-bs-toggle="modal"
                        data-bs-target="#linkModal"
                        ><i class="fa fa-link m-0"></i>
                      </a>

                      <!-- Modal -->
                      <div class="modal fade" id="cameraModal">
                        <div
                          class="modal-dialog modal-dialog-centered"
                          role="document"
                        >
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Upload images</h5>
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                              ></button>
                            </div>
                            <div class="modal-body">
                              <div class="input-group custom_file_input mb-3">
                                <span class="input-group-text">Upload</span>
                                <div class="form-file">
                                  <input
                                    type="file"
                                    class="form-file-input form-control"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Modal -->
                      <div class="modal fade" id="postModal">
                        <div
                          class="modal-dialog modal-dialog-centered"
                          role="document"
                        >
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Post</h5>
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                              ></button>
                            </div>
                            <div class="modal-body">
                              <textarea
                                name="textarea"
                                id="textarea2"
                                cols="30"
                                rows="5"
                                class="form-control bg-transparent"
                                placeholder="Please type what you want...."
                              ></textarea>
                              <a
                                class="btn btn-primary"
                                href="javascript:void(0)"
                                >Post</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="profile-uoloaded-post pb-3"></div>
                  </div>
                </div>
                <div id="about-me" class="tab-pane fade">
                  <div class="profile-about-me">
                    <div class="pt-4 border-bottom-1 pb-3"></div>
                  </div>
                  <div class="profile-skills mb-5"></div>

                  <div class="profile-personal-info">
                    <h4 class="text-primary mb-4">Personal Information</h4>
                    <div class="row mb-2">
                      <div class="col-sm-3 col-5">
                        <h5 class="f-w-500">
                          Name <span class="pull-end">:</span>
                        </h5>
                      </div>
                      <div class="col-sm-9 col-7">
                        <span>{{ userconnect.newUser.name }}</span>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-sm-3 col-5">
                        <h5 class="f-w-500">
                          Email <span class="pull-end">:</span>
                        </h5>
                      </div>
                      <div class="col-sm-9 col-7">
                        <span>{{ userconnect.newUser.email }}</span>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-sm-3 col-5">
                        <h5 class="f-w-500">
                          Username <span class="pull-end">:</span>
                        </h5>
                      </div>
                      <div class="col-sm-9 col-7">
                        <span> {{ userconnect.newUser.username }} </span>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-sm-3 col-5">
                        <h5 class="f-w-500">
                          Specialite <span class="pull-end">:</span>
                        </h5>
                      </div>
                      <div class="col-sm-9 col-7">
                        <span> {{ userconnect.newUser.specialite }} </span>
                      </div>
                    </div>
                    <div class="row mb-2"></div>
                  </div>
                </div>
                <div id="profile-settings" class="tab-pane fade active show">
                  <div class="pt-3">
                    <div class="settings-form">
                      <h4 class="text-primary">Account Setting</h4>
                      <form>
                        <div class="row">
                          <div class="mb-3 col-md-9">
                            <label class="form-label">Name </label>
                            <input
                              type="text"
                              placeholder="{{ userconnect.newUser.name }}"
                              class="form-control"
                            />
                          </div>

                          <div class="mb-3 col-md-9">
                            <label class="form-label">Email</label>
                            <input
                              type="email"
                              placeholder="{{ userconnect.newUser.email }}"
                              class="form-control"
                            />
                          </div>

                          <div class="mb-3 col-md-9">
                            <label class="form-label">Username</label>
                            <input
                              type="text"
                              placeholder="{{ userconnect.newUser.username }}"
                              class="form-control"
                            />
                          </div>
                          <div class="mb-3 col-md-9">
                            <label class="form-label">Ancien Password</label>
                            <input
                              type="password"
                              placeholder="Password"
                              class="form-control"
                            />
                          </div>
                          <div class="mb-3 col-md-9">
                            <label class="form-label">New Password</label>
                            <input
                              type="password"
                              placeholder="Password"
                              class="form-control"
                            />
                          </div>
                          <div class="mb-3 col-md-9">
                            <label class="form-label">Specilaite</label>
                            <input
                              type="text"
                              placeholder="{{ userconnect.newUser.specialite }}"
                              class="form-control"
                            />
                          </div>
                        </div>

                        <button
                          class="btn btn-success"
                          type="submit"
                          (click)="updateUser()"
                        >
                          Update Profil
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal-->
            <div class="modal fade" id="replyModal">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Post Reply</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <textarea class="form-control" rows="4">
                          Message</textarea
                      >
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-bs-dismiss="modal"
                    >
                      btn-close
                    </button>
                    <button type="button" class="btn btn-primary">Reply</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
